.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
}

@media (max-width: 768px) {
  .footer{
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 425px) {
  .footer{
    max-width: 186px;
    flex-direction: column;
    padding-top: 64px;
  }
}
